body{
	margin: 0;
	background-image: url(https://images5.alphacoders.com/875/thumb-1920-875972.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	color: white;
  	font-family: helvetica;
  	line-height: 30px;
  	
}

header{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}


header img{
	border-radius: 500px;
	width: 500px;
	border: 2px solid white;
}


header h1{
	font-size: 100px;
}


h1, h2{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}


main :not(img){
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	margin-bottom: 25px;
}

main img{
	max-width: 100%;
	max-height: auto;
	width: 100%;
}


h2{
	font-size: 40px;
	
}


a{
	color: white;
}
a:hover{
	color:#FFFCD4;
}

footer{
	text-align: center;
	padding: 5px;
}

p.caption{
	margin: 1px;
	font-size: 15px;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 40px;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

a:link {
    text-decoration: underline;
    padding-bottom: 6px;
}

ul{
	list-style-type: none; 
	font-size: 16px;
	text-align: center;
}

ol{
	text-align: center;
	list-style-type: none;
	font-size: 16px;
	margin-bottom: 40px;

}

p{
	font-size: 20px;
}

